
*
{
    -fx-base-background: #E0E8F7;
    -fx-bar-colour: #4267B2;
    -fx-button-colour: #4267B2;
    -fx-button-hover-colour: #6287D2;
    -fx-solve-button-colour: #EF7200;
    -fx-solve-button-hover-colour: #FF8200;
}

.button, .combo-box
{
    -fx-font-weight: 800;
    -fx-text-fill: #FFF;
    -fx-background-color: -fx-bar-colour;
    -fx-border-radius: 0;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #FFF;
}

.button:hover, .combo-box:hover
{
    -fx-background-color: -fx-button-hover-colour;
}

.button:hover
{
    -fx-translate-x: 1px;
    -fx-translate-y: -1px;
}

.workspace-selector-button
{
    -fx-min-width: 250px;
    -fx-min-height: 50px;
    -fx-border-width: 0 2px 0 0;
}

.workspace-selector-button:hover
{
    -fx-translate-y: 0;
    -fx-translate-x: 0;
    -fx-background-color: -fx-button-hover-colour;
}

.workspace-selector-button-selected
{

}

.combo-box .arrow
{
    -fx-background-color: #FFF;
}

.combo-box > *
{
    -fx-background-color: -fx-button-colour;
}

.combo-box > *:hover
{
    -fx-background-color: -fx-button-hover-colour;
}

.combo-box .list-cell
{
    -fx-text-fill: #FFF;
    -fx-background-color: -fx-button-colour;
}

.combo-box .list-cell:hover
{
    -fx-background-color: -fx-button-hover-colour;
}

.combo-box-popup .list-view
{
    -fx-background-color: -fx-bar-colour;
}

.calc-gui
{
    -fx-background-color: -fx-base-background;
}

.visual-matrix
{
    -fx-alignment: center;
    -fx-translate-y: 0px;
    -fx-border-color: black;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
}

.visual-matrix > *
{
    -fx-max-width: 60px;
    -fx-border-color: black;
    -fx-border-width: 2px 2px 0 0;
    -fx-border-style: solid;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}

.text-field
{
    -fx-max-width: 60px;
    -fx-border-color: #CCC;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-style: solid;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}

.visual-matrix > *:focused
{
    -fx-background-color: #FFFFFF, #FFFFFF,#FFFFFF;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
}

.dimension-controls
{
    -fx-padding: 30px;
    -fx-spacing: 20px;
    -fx-min-height: 100px;
    -fx-max-height: 150px;
}

.dimension-controls > * > *
{
    -fx-hgap: 10px;
    -fx-vgap: 5px;
}

.dimension-control-field
{
    -fx-border-width: 2px;
    -fx-border-color: #000;
    -fx-max-width: 70px;
}

.dimension-control-matrix-label
{
    -fx-font-weight: 800;
}

.control-button
{
    -fx-translate-y: 48;
    -fx-font-size: 14px;
    -fx-font-weight: 800;
    -fx-text-fill: #FFF;
    -fx-background-color: -fx-bar-colour;
    -fx-border-radius: 0;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #000;
}

.control-button:hover{
    -fx-translate-y: 47px;
}

.matrix-error-text
{
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-fill: red;
    -fx-translate-y: 20px;
}

.work-space
{
    -fx-spacing: 0px;
}

.work-space > *
{
    -fx-alignment: center;
    -fx-min-height: 300px;
    -fx-translate-y: -100;
    -fx-spacing: 25px;
}



.top-bottom-bar
{
    -fx-min-height: 101px;
    -fx-min-width: 100%;
    -fx-pref-height: 20%;
    -fx-spacing: 25px;
    -fx-background-color: -fx-bar-colour;
    -fx-alignment: center;
}

.top-bottom-bar > hbox
{

}

.top-bottom-bar > *
{
    -fx-font-size: 18px;
    -fx-font-weight: 800;
}

.operator-symbol
{
    -fx-font-size: 30px;
    -fx-font-family: monospace;
    -fx-font-weight: 800;
}

.bottom-bar-button
{
    -fx-font-size: 24px;
    -fx-alignment: center;
}

.solve-button
{
    -fx-background-color: -fx-solve-button-colour;
    -fx-font-size: 24px;
    -fx-alignment: center;
}

.solve-button:hover
{
    -fx-background-color: -fx-solve-button-hover-colour;
}

.vector-number-label
{
    -fx-font-weight: 800;
    -fx-font-size: 20;
}

.vector-label-box
{
    -fx-translate-x: 15px;
    -fx-translate-y: -14px;
}

.vector-field-label
{
    -fx-font-family: monospace;
    -fx-font-weight: 800;
    -fx-font-size: 30;
}

.vector-coord-box
{
    -fx-alignment: center;
    -fx-translate-y: 20px;
    -fx-spacing: 5px;
}

.vector-control-box
{
    -fx-spacing: 10px;
    -fx-translate-y: 70px;
}

.vector-control-button
{
    -fx-font-size: 14px;
    -fx-font-weight: 800;
    -fx-text-fill: #FFF;
    -fx-background-color: -fx-bar-colour;
    -fx-border-radius: 0;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #000;
}

.vector-text-field
{
    -fx-max-width: 50px;
}

.transformation-menu
{
    -fx-padding: 20px 80px 20px 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.transformation-hbox
{
    -fx-spacing: 20px;
}

.transformation-hbox .button
{
    -fx-min-width: 120px;
    -fx-border-color: #000;
}

.transformation-hbox .text-field
{
    -fx-border-color: #000;
    -fx-border-width: 2px;
}

.coordinate-grid
{
    -fx-background-color: #FFF;
    -fx-border-width: 2px;
    -fx-border-color: #000;
}

.axis
{
    -fx-stroke: #000;
    -fx-stroke-width: 2;
    -fx-font-size: 24px;
}

.line
{
    -fx-stroke: #E6E6E6;
    -fx-stroke-width: 1px;
}

.polygon
{
    -fx-stroke: rgba(5, 10, 66, 1);
    -fx-stroke-width: 2px;
    -fx-fill: rgba(5, 127, 178, 0.5);
}